@font-face {
  font-family: 'Lato';
  src: url(fonts/09201a1cc16b4ea1d1b7c8fdf90d5a60.woff2) format('woff2'), url(fonts/4ac54dd4f4c6e2a86e21aee167e1a5a1.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/12a234e87f37d441adc9bb2e3dec13de.woff2) format('woff2'), url(fonts/2032f2b161a7a109a9d0cc3f6ad3b735.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/69279aef7fbc11101022a9f06079bbbf.woff2) format('woff2'), url(fonts/e87e43c57f21dd637791c6bfa534c1af.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: #d8dcff;
}
/**
 * TYPO
 */
p {
  font-family: lato;
  font-weight: 200;
  font-size: 30px;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  pointer-events: auto;
}
b {
  font-weight: 400;
}
/**
 * CURSOR
 */
.cursor-container .pointer {
  width: 5pt;
  height: 5pt;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: -2.5pt;
  left: -2.5pt;
  transform: translate(0, 0);
  transition: all 0.05s ease;
}
.cursor-container .cursor-wrapper {
  position: absolute;
  top: -15pt;
  left: -15pt;
  transform: translate(0, 0);
  width: 30pt;
  height: 30pt;
  transition: all 0.1s ease;
}
.cursor-container .cursor-wrapper .cursor {
  width: 30pt;
  height: 30pt;
  border: 1pt solid #000;
  border-radius: 50%;
}
/**
 * START
 */
button {
  background: #c7cdff;
  color: #fff;
  padding: 5px 10px 5px 10px;
  width: 100px;
  height: 35px;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  outline: none;
  font-size: 20;
  transition-duration: 0.5s;
}
button:hover {
  background: #fff;
  color: #c7cdff;
}
button.okay {
  background: #ff93bc;
}
button.okay:hover {
  background: #fff;
  color: #ff93bc;
}
.start {
  z-index: 10;
  position: absolute;
  background: #d8dcff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lato;
  will-change: transform;
}
.start p {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
}
/**
 * CANVAS
 */
.canvas {
  position: absolute;
}
z-index 3 {
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}
z-index 3 canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
}
/*
 * MUTE BUTTON
 */
img.mute,
img.unmute {
  z-index: 6;
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/*
 * CONTAINER MENU
 */
.background {
  z-index: -2;
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.background h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 200px;
  text-transform: uppercase;
  color: #c7cdff;
  line-height: 200px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container .header {
  z-index: 2;
  position: absolute;
  top: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .header .logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
}
.container .header h2 {
  text-decoration: none;
  font-family: lato;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 3px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.container .header span {
  margin-top: 2px;
  font-weight: 1000;
}
.container .modal {
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background: #dbf1ff;
  will-change: transform;
}
.container .modal .title {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 30px;
}
.container .modal .title h1 {
  z-index: -1;
  font-family: 'Work Sans', sans-serif;
  font-size: 200px;
  text-transform: uppercase;
  color: #c9eaff;
  line-height: 200px;
}
.container .modal .title h1.credits {
  color: #ffecc4;
}
.container .modal .title h1.welcome {
  color: #ffe6f0;
}
.container .modal .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: auto;
}
.container .modal .container .close {
  position: absolute;
  right: -50px;
  top: -50px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  pointer-events: auto;
}
.container .credits {
  background: #fff4de;
}
.container .welcome {
  opacity: 1;
  z-index: 3;
  background: #ffeff4;
}
.hidden {
  display: none;
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.closeModal {
  animation-name: fadeOut;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}
.openModal {
  animation-name: openModal;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*# sourceMappingURL=main.css.map*/