@font-face {
  font-family: 'Lato';
  src: url(fonts/09201a1cc16b4ea1d1b7c8fdf90d5a60.woff2) format('woff2'), url(fonts/4ac54dd4f4c6e2a86e21aee167e1a5a1.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/12a234e87f37d441adc9bb2e3dec13de.woff2) format('woff2'), url(fonts/2032f2b161a7a109a9d0cc3f6ad3b735.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/69279aef7fbc11101022a9f06079bbbf.woff2) format('woff2'), url(fonts/e87e43c57f21dd637791c6bfa534c1af.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: #d8dcff;
}
/**
 * CURSOR
 */
.cursor-container .pointer {
  width: 5pt;
  height: 5pt;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: -2.5pt;
  left: -2.5pt;
  transform: translate(0, 0);
  transition: all 0.05s ease;
}
.cursor-container .cursor-wrapper {
  position: absolute;
  top: -15pt;
  left: -15pt;
  transform: translate(0, 0);
  width: 30pt;
  height: 30pt;
  transition: all 0.1s ease;
}
.cursor-container .cursor-wrapper .cursor {
  width: 30pt;
  height: 30pt;
  border: 1pt solid #000;
  border-radius: 50%;
}
/**
 * START
 */
.start {
  z-index: 4;
  position: absolute;
  background: #d8dcff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lato;
  will-change: transform;
}
.start p {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.start button {
  color: #c7cdff;
  padding: 5px 10px 5px 10px;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  user-select: none;
  outline: none;
  font-size: 20;
  transition-duration: 0.5s;
}
.start button:hover {
  background: #c7cdff;
  color: #fff;
}
/**
 * CANVAS
 */
.canvas {
  position: absolute;
}
z-index 3 {
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}
z-index 3 canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
}
/*
 * CONTAINER MENU
 */
.background {
  z-index: -2;
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.background h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 200px;
  text-transform: uppercase;
  color: #c7cdff;
  line-height: 200px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container .header {
  position: absolute;
  top: 0;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .header .logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
}
.container .header h2 {
  text-decoration: none;
  font-family: lato;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 2px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.container .header span {
  margin-top: 2px;
  font-weight: 1000;
}
.container .modal {
  position: absolute;
  padding: 30px;
  width: 500px;
  height: 300px;
  background: rgba(255,255,255,0.314);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-500px);
  will-change: transform;
}
.container .modal .close,
.container .modal .open {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.container .modal h1 {
  font-family: lato;
  color: #000;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.container .modal .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90%;
}
.container .modal .container p {
  font-family: lato;
  font-weight: 200;
}
.container .modal .container .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px 0px 10px 0px;
  height: 100px;
}
.container .modal .container .controls h2 {
  font-family: lato;
  font-size: 20px;
  color: #c7cdff;
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.hidden {
  display: none;
}
.closeModal {
  animation-name: closeModal;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.openModal {
  animation-name: openModal;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes openModal {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes openModal {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-o-keyframes openModal {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes openModal {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-moz-keyframes closeModal {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}
@-webkit-keyframes closeModal {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}
@-o-keyframes closeModal {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}
@keyframes closeModal {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}


/*# sourceMappingURL=main.css.map*/